@import "normalize.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700");
* {
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
}

html,
body {
    background-color: #F5F5F5;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
}

main::after {
    display: block;
    content: "";
    clear: both;
}

@media screen and (max-width: 1000px) {
    main {
        padding: 0 5%;
    }
}

section {
    margin-bottom: 100px;
    float: left;
}

body>section:last-of-type {
    margin-bottom: 0;
}

body>section {
    float: left;
    width: 100%;
}

h1 {
    font-size: 3rem;
    color: #FF4103;
    margin: 0.5em 0;
    margin-top: 0px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.1em 0 0.2em 0;
}

h6 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0px;
}

p {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
}

.row {
    width: 100%;
    position: relative;
    float: left;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    background-color: white;
    float: left;
}

.btn-small {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: #00BFFC;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    padding: 0 5px;
    border-radius: 2px;
}

.btn-small:hover {
    color: #009DCF;
    background-color: rgba(0, 0, 0, 0.26);
}

.btn-big {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 1);
    background-color: #00BFFC;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.btn-big:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


/*
 * NAVBAR DESKTOP
 */

nav {
    background-color: #FF4103;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 50;
}

.navbar-content {
    margin: 0 50px;
}

.navbar-content::after {
    display: block;
    content: "";
    clear: both;
}

.navbar-option {
    transition: color 0.5s ease;
}

.navbar-option.active {
    color: rgba(255, 255, 255, 1);
}

#magic-line {
    position: absolute;
    height: 2px;
    background-color: white;
    bottom: 0;
}

.left {
    float: left;
    position: relative;
}

.right {
    height: 100%;
    float: right;
}

.right .dropdown i.mdi {
    /* selector has to be this complicated for priotiy */
    line-height: initial;
}

.navbar-option {
    display: block;
    padding: 1em;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 0.1em solid transparent;
}

.navbar-option:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.0);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    margin-right: 50px;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mobile .right .dropdown-content {
    margin: auto;
    right: 0;
}

.mobile .right {
    position: relative;
}

.dropdown-content a {
    display: inline-block;
    width: 100%;
    padding: 0.3em 1em;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.70);
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.right:hover .dropdown-content {
    display: inline-block;
}

.mobile {
    display: none;
}

.sidebar-option .navbar-option {
    color: rgba(0, 0, 0, 0.70);
}

.grey {
    position: fixed;
    width: 0%;
    height: 0%;
    z-index: -1;
    pointer-events: none;
    transition: background-color 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.left:hover .grey {
    background-color: rgba(0, 0, 0, .2);
}

@media screen and (max-width: 1000px) {
    .mobile {
        display: block;
        z-index: 50;
    }
    .desktop {
        display: none;
    }
    .navbar-content {
        margin: 0;
        margin-right: 20px;
    }
    .navbar-option {
        padding: 0.5em;
    }
    .hamburger {
        padding: 0.5em 20px;
    }
    .sidebar {
        left: -200px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background-color: white;
        transition: left 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
        width: 200px;
        overflow: hidden;
        position: fixed;
        height: 100%;
        display: inline-block;
    }
    .left:hover .sidebar {
        left: 0px;
    }
}


/*
 * HEADER
 */

header {
    position: relative;
    height: calc(100vh - 60px);
    margin-bottom: 60px;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fab {
    position: absolute;
    left: calc(50% - 28px);
    right: calc(50% + 28px);
    bottom: -28px;
    width: 56px;
    height: 56px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #FF4103;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 56px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.fab:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo-header {
    height: 100%;
}


/*
  * NEWS
  */

.news {
    overflow: visible;
    position: relative;
    float: left;
    width: 100%;
}

#news .top_left {
    bottom: auto;
    top: 25px;
    right: 0px;
}

.news-card {
    width: 45%;
    height: 500px;
    margin-bottom: 50px;
}

.news-card:nth-child(odd) {
    margin-right: 10%;
}

.news-card:last-child,
.news-card:nth-last-child(2) {
    margin-bottom: 0px;
}

.news-upper {
    position: relative;
    height: 300px;
    border-radius: 2px 2px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-upper h4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0px;
    font-size: 1.5rem;
    color: #FF4103;
}

.news-lower {
    position: relative;
    height: 200px;
    padding: 0 10px;
}

.news-lower h5 {
    margin: 0.5em 0;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.87);
}

.news-lower p {
    color: rgba(0, 0, 0, 0.70);
}

@media screen and (max-width:1000px) {
    .news-card {
        position: absolute;
        display: none;
    }
    .news-card:nth-child(1) {
        width: 100%;
        position: relative;
        display: block;
    }
    #news .top_left {
        float: right;
        position: relative;
    }
    #news h1 {
        float: left;
        position: relative;
    }
}

@media screen and (max-width:373px) {
    #news .top_left {
        float: left;
        top: 0px;
        left: 0px;
        margin: 0 0 10px 0;
    }
}


/*
 * CONTEST
 */

.contest {
    background-color: #CCCCCC;
    padding: 50px 0;
}

.inner-contest {
    background-color: #CCCCCC;
}

.inner-contest .btn-big {
    margin-top: 10px;
    float: right;
}

.inner-contest::after {
    display: block;
    content: "";
    clear: both;
}


/*
 * SPONSORS
 */

.sponsors {
    padding-bottom: 100px;
    border-bottom: 2px solid #FF4103;
}

.sponsors-card {
    position: relative;
    padding: 0 10px;
    width: 30%;
    height: 350px;
    margin-right: 5%;
}

.icon-area {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FF4103;
    height: 100px;
}

.partner {
    background-image: url('../icons/partner.svg');
}

.thingssponsor {
    background-image: url('../icons/sachsponsor.svg');
}

.financesponsor {
    background-image: url('../icons/finanzsponsor.svg');
}

.sponsors-card:last-child {
    margin-right: 0px;
}

.sponsors-card .btn-small {
    bottom: 10px;
    right: 10px;
}

.sponsors-card p {
    color: rgba(0, 0, 0, 0.70);
}

@media screen and (max-width: 1000px) {
    .sponsors-card {
        width: 100%;
        margin-top: 5%;
    }
}


/*
 * SUCESS
 */

.sucess-card {
    position: relative;
    padding: 0 10px 2.5rem 10px;
    width: 30%;
    margin-right: 5%;
}

.sucess-card:last-child {
    margin-right: 0px;
}

.sucess-card p {
    color: rgba(0, 0, 0, 0.70);
}

.trophy {
    width: 150px;
    height: 150px;
    margin: 30px auto 20px auto;
    background-color: #00BFFC;
    border-radius: 50%;
    display: flex;
    position: relative;
}

.icon-big {
    position: absolute;
    width: 75px;
    height: 75px;
    fill: rgba(255, 255, 255, 1);
    top: calc(50% - 37.5px);
    left: calc(50% - 37.5px);
}

.sucess-card .btn-small {
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width: 1000px) {
    .sucess-card {
        width: 100%;
        margin-top: 5%;
        margin-right: 0;
    }
    .sucess-card:nth-child(3) {
        position: absolute;
        display: none;
    }
}


/*
 * TEAM
 */

.team {
    background-color: #CCCCCC;
    padding: 50px 0;
}

.inner-team {
    background-color: #CCCCCC;
}

.inner-team .btn-big {
    margin-top: 10px;
    float: right;
}

.inner-team::after {
    display: block;
    content: "";
    clear: both;
}


/*
 * FOOTER
 */

footer {
    background-color: #D13603;
    padding: 50px 0 20px 0;
    float: left;
    width: 100%;
}

footer h2 {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 0;
}

footer .btn-big {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.contact {
    float: left;
    width: 45%;
    margin-right: 10%;
}

.footer-right {
    float: right;
    width: 45%;
}

.social,
.impressum {
    float: left;
    width: 50%;
}

.impressum h6 {
    color: rgba(255, 255, 255, 1);
}

.impressum p {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.copyright {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 50px;
}

.contactfield,
textarea {
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0.625em 0.3125em;
    outline: none;
    border: 2px solid #00BFFC;
    transition: border 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.contactfield:focus,
textarea:focus {
    border: 2px solid #009DCF;
}

textarea {
    width: 100%;
    height: 105px;
    resize: vertical;
    margin-top: 10px;
}

.contactfield {
    width: calc((100% - 1% - 5px) / 2);
}

.contactfield:first-child {
    margin-right: 1%;
}

input[type="submit"] {
    margin: 10px 0 0 auto;
    border: none;
    outline: none;
}

@media screen and (max-width: 1000px) {
    .contact {
        width: 100%;
    }
    footer {
        float: left;
    }
    .footer-right {
        margin-top: 5%;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .footer-right {
        display: flex;
        flex-flow: column;
    }
    .impressum {
        width: 100%;
        order: 2;
    }
    .social {
        width: 100%;
        order: 1;
    }
    .contactfield {
        width: 100%;
    }
    .contactfield:first-child {
        margin-bottom: 10px;
    }
    input[type="submit"] {
        margin-bottom: 30px;
    }
}